
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoPerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> ERIKA DI PIETRO {{persona.nombre}} {{persona.apellido}} </p> <!--nose por que no me lo trae del back -->
            <p id="profesion">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1 id="acercaDe">Acerca de mi</h1>
                <p id="descripcionSobreMi">Soy una persona de actitud pro activa, 
                    <br>
                    con ganas de progresar <br>
                    y ayudar al equipo a cumplir los objetivos planteados; <br>
                    cuento con capacidad de trabajo en equipo, <br>
                     con muy buena 
                    predisposición. <br>
                     Dispuesta a aprender, escuchar, adquirir 
                    nuevas experiencias. </p>
            </span>
        </div>
    </div>

