<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="95"
             [radius]="100"
             [imageSrc]="'../../../assets/html.png'"
             [showImage]="true"
             [imageHeight]="120"
             [imageWidth]="120"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="95"
             [radius]="100"
             [imageSrc]="'../../../assets/css.png'"
             [showImage]="true"
             [imageHeight]="110"
             [imageWidth]="80"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="85"
             [radius]="100"
             [imageSrc]="'../../../assets/js.png'"
             [showImage]="true"
             [imageHeight]="110"
             [imageWidth]="100"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="60"
             [radius]="100"
             [imageSrc]="'../../../assets/github.png'"
             [showImage]="true"
             [imageHeight]="160"
             [imageWidth]="290"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="30"
             [radius]="100"
             [imageSrc]="'../../../assets/ingles.png'"
             [showImage]="true"
             [imageHeight]="120"
             [imageWidth]="120"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4">
        <circle-progress
             [percent]="100"
             [radius]="100"
             [imageSrc]="'../../../assets/grupo.png'"
             [showImage]="true"
             [imageHeight]="120"
             [imageWidth]="120"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    </div>

</div>
<!--https://www.youtube.com/watch?v=WKsJzGxcROE (este es el link del video donde explica como personalizar el circulo, en el minuto 15:00 aprox explica como agregarle una foto en donde estaria el nombre de adentro de cada circulo)-->