<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>  Psicóloga Social; Coordinadora y Observadora de grupos en formación.</h1> -
                <h3> (mar. 2018 - nov. 2018)</h3>
            </li>
            <p>Coordinación de grupo de 3er año en la Carrera de Psicología Social, tratando de visibilizar problemáticas para poder realizar las tareas pautadas de la mejor manera.</p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>Psicologa Social, Observadora</h1> -
                <h3> (jun. 2017 - dic. 2017)</h3>
            </li>
            <p>Ir a Reuniones en la Organización: La Fulana (grupo accionista Feminista) accionar en su conflicto vincular y social para realizar sus reuniones de forma adecuada, pudiendo así visibilizar su problemática de forma adecuada para el desarrollo vincular con la sociedad.</p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>Preceptora en colegios</h1> -
                <h3> (en curso)</h3>
            </li>
            <p>Miembro del equipo docente de la escuela y, por lo tanto, participo en los procesos de construcción, implementación y evaluación de la propuesta educativa de las instituciones según su nivel o modalidad.</p>
        </ul>
    </div>
</div>
