<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>FlyNow</h2>
            <p>Web Site de recomendaciones de viajes por Argentina creado con html, css, sass, javascript, bootsrap, json, dom y react.</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href="https://eddipietro.github.io/js/"> <img src="../../../assets/flynow.jpg" class="img-fluid img-proyecto"></a>
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Cayetana Bazar</h2>
            <p>Realizado el web site con html, css, javascript y Bootsrap Para una empresa de gran diversidad de productos de bazar.</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href="https://eddipietro.github.io/js/"> <img src="../../../assets/cayetana.png" class="img-fluid img-proyecto"></a>
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Della Pasta</h2>
            <p>E commerce de una fabrica de pastas artesanal. Creado con html, css, javascript, bootsrap, json, dom. Me encuentro constantemente modificando y creando nuevas peticiones de este cliente.</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href="https://eddipietro.github.io/js/"> <img  src="../../../assets/dellapasta.png" class="img-fluid img-proyecto "></a>
        </div>
    </div>
    