<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/ap_logo.png" alt="logoArgentinaPrograma" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/erika-di-pietro-40a76512b/"><img src="../../../assets/in.png" id="Linkedin"></a>
                <a href="https://github.com/eddipietro"><img src="../../../assets/github.png" id="Github"></a>
                <a href="https://wa.me/+541131545981"><img src="../../../assets/wtps.png" id="Wtps"></a>
                <a href="https://www.instagram.com/eddipietro/"><img src="../../../assets/ig.png" id="Ig"></a>
                <a href="http://www.facebook.com/erykita1"><img src="../../../assets/face.png" id="Face"></a>
                <button type="button" class="btn btn-outline-light" >INGRESO</button>
            </div>
        </div>
    </div>

</div>

