<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>CoderHouse, Full Stack Developer</h1> -
                <h3> (en curso)</h3>
            </li>
            <p>Me encuentro en la formación profesional que cuenta con diversas habilidades informáticas; es decir, es un perfil híbrido, multiskill para poder desenvolverme en el front-end y back-end de un desarrollo web.</p>
        </ul>
        <ul>
            <br>
            <br>
            <li>
                <h1>Ministerio de Desarrollo Productivo de la Nación y CESSI </h1> -
                <h3> (en curso)</h3>
            </li>
            <p>Argentina Programa es una capacitación en programación organizada en dos etapas:
                1 #SéProgramar, en donde se aprenden los fundamentos básicos para aprender a programar.
                2 #YoProgramo, se adquieren las habilidades y herramientas para convertirte en un programador web full-stack junior.</p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>Tramo de Formación Pedagógica para Profesionales Técnicos 
                    Superior de la institución FASTA.</h1> -
                <h3> (ago. de 2019 – graduado)</h3>
            </li>
            <p>El Tramo de Formación Pedagógica, que habilita para el ejercicio de la docencia, tiene el propósito de brindar formación pedagógica a los Técnicos Superiores y Profesionales Universitarios no docentes permitiéndoles adquirir un manejo adecuado de los procesos de enseñanza y de aprendizaje que garanticen una educación de calidad.</p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>Terciario Escuela Superior de Psicología Social y Counselinge; 
                    Técnica Superior en Psicología Social</h1> -
                <h3> ( dic. de 2018- graduado)</h3>
            </li>
            <p>Psicologia Social especializada en Salud y Comunicación para analizar, diagnosticar e intervenir en grupos, en organizaciones y comunidades, para fortalecer la acción colectiva, acompañando y sosteniendo el desarrollo del potencial humano, con el objetivo de preservar y promover la calidad de vida y el bienestar de las personas. </p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>CCTI: Cajera Administrativa Bancaria</h1> -
                <h3> ( dic. de 2018)</h3>
            </li>
            <p>-Manejar una terminal de caja, los estándares respecto al manejo del puesto de cajero,
                -Conocimientos de contabilidad y administración, 
                - Reconocimiento de documentación falsa y billetes apócrifos tanto en moneda nacional como extranjera.
                - Manejo de sistema que se utiliza en las terminales bancarias dándole 
                - Conocimientos de manejo del software necesario para su desempeño.</p>
        </ul>
        <br>
        <br>
        <ul>
            <li>
                <h1>Escuela Secundaria José Félix Bogado, Media N°6, Ramos Mejía</h1> -
                <h3> (2012- graduado)</h3>
            </li>
            <p>Secundario completo en la especialización de Humanidades.</p>
        </ul>
    </div>
</div>
